# Ex -

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called

In [10]:
chipotle=pd.read_csv("chipotle.tsv",sep="\t")
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4.

In [13]:
chipotle.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

### Step 5.

In [14]:
chipotle['choice_description'][9:30] ="no description"
chipotle[9:30]

/tmp/ipykernel_10277/1599869521.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chipotle['choice_description'][9:30] ="no description"

,order_id,quantity,item_name,choice_description,item_price
9,5,1,Steak Burrito,no description,$9.25
10,5,1,Chips and Guacamole,no description,$4.45
11,6,1,Chicken Crispy Tacos,no description,$8.75
12,6,1,Chicken Soft Tacos,no description,$8.75
13,7,1,Chicken Bowl,no description,$11.25
14,7,1,Chips and Guacamole,no description,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,no description,$2.39
16,8,1,Chicken Burrito,no description,$8.49
17,9,1,Chicken Burrito,no description,$8.49
18,9,2,Canned Soda,no description,$2.18
19,10,1,Chicken Bowl,no description,$8.75
20,10,1,Chips and Guacamole,no description,$4.45
21,11,1,Barbacoa Burrito,no description,$8.99
22,11,1,Nantucket Nectar,no description,$3.39
23,12,1,Chicken Burrito,no description,$10.98
24,12,1,Izze,no description,$3.39
25,13,1,Chips and Fresh Tomato Salsa,no description,$2.39
26,13,1,Chicken Bowl,no description,$8.49
27,14,1,Carnitas Burrito,no description,$8.99
28,14,1,Canned Soda,no description,$1.09
29,15,1,Chicken Burrito,no description,$8.49

### Step 6.

In [15]:
chipotle = chipotle.replace("no description",2.40)
chipotle[7:25]

,order_id,quantity,item_name,choice_description,item_price
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,2.4,$9.25
10,5,1,Chips and Guacamole,2.4,$4.45
11,6,1,Chicken Crispy Tacos,2.4,$8.75
12,6,1,Chicken Soft Tacos,2.4,$8.75
13,7,1,Chicken Bowl,2.4,$11.25
14,7,1,Chips and Guacamole,2.4,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,2.4,$2.39
16,8,1,Chicken Burrito,2.4,$8.49
17,9,1,Chicken Burrito,2.4,$8.49
18,9,2,Canned Soda,2.4,$2.18
19,10,1,Chicken Bowl,2.4,$8.75
20,10,1,Chips and Guacamole,2.4,$4.45
21,11,1,Barbacoa Burrito,2.4,$8.99
22,11,1,Nantucket Nectar,2.4,$3.39
23,12,1,Chicken Burrito,2.4,$10.98
24,12,1,Izze,2.4,$3.39

### Step 7.

In [16]:
chipotle.iloc[:3] = np.nan

### Step 8.

In [17]:
chipotle

,order_id,quantity,item_name,choice_description,item_price
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,1.0,1.0,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2.0,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833.0,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833.0,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834.0,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834.0,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834.0,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 9.

In [20]:
chipotle=chipotle.dropna()

### Step 10.

In [21]:
chipotle.reset_index(drop = True)

,order_id,quantity,item_name,choice_description,item_price
0,2.0,2.0,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
1,3.0,1.0,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
2,4.0,1.0,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
3,4.0,1.0,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
4,5.0,1.0,Steak Burrito,2.4,$9.25
...,...,...,...,...,...
3374,1833.0,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
3375,1833.0,1.0,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
3376,1834.0,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
3377,1834.0,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
3378,1834.0,1.0,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 11.

### Step 12.

### Step 13.

### Step 14.

### Step 15.

### Step 16.

### BONUS: Create your own question and answer it.